@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'sans-serif';
}

body {
  background-color: #F4F4F4;
}

header {
  height: 400px;
  width: 100%;
  background-color: rgb(211, 206, 206);
  position: absolute;
  top: 0;
  z-index: -2;
}

header h1 {
    text-align: center;
    font-size: 2.5em;
    padding: 1rem;
}

a:link, a:visited {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: rgba(0, 0, 0, 0.8);
}


/* Landing Section */
.posts-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.post-wrapper {
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    position: relative;
}

.post-wrapper img {
    width: auto;
    max-width: 100%;
    height: 350px;
    object-fit: cover;  
    overflow: auto;
}

.post-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 150px;
}

.post-title {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-author {
    flex: 1;
    display: flex;
    align-items: flex-end;
    padding: 1rem;
}

/* Post Section */
.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 200px;
}

.post {
    padding: 1rem;
}

.post img {
    display: block;
    margin: 0 auto 30px auto;
}
.post h1 {
    text-align: center;
    margin: 20px;
    font-size: 2.5em;
}

.post p {
    line-height: 2rem;
}


/* Loading Animation */
.loading {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-anim {
    height: 35px;
    width: 35px;
    border: 5px solid rgba(189, 189, 189, 0.25);
    border-left-color: rgba(3, 155, 229, 1);
    border-top-color: rgba(3, 155, 229, 1);
    border-radius: 50%;
    animation: rotate 600ms infinite linear;
}

@keyframes rotate {
    to {
        transform: rotate(1turn)
    }
}